body {
    margin:0;
    padding:0;
}
.container {
    height: 100vh;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: center;
    justify-content: center;
    align-items: center;
    background: #9fa8da;
}
h1 {
    font-family: 'Courier New', Courier, monospace;
    color:#3f51b5;
    font-weight: bold;
}
.card {
    width: 80%;
    transition: all .5s;
    opacity: 1;
}
@media (min-width: 768px) {
    .card {
        width: 50%;
    }
}
@media (min-width: 1200px) {
    .card {
        width: 25%;
    }
}
.button-container {
    margin-top: 40px;
}
